/* delete-modal.component.css */

:host {
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }
  
  mat-dialog-content {
    padding: 20px;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: #333;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
  }
  