<div class='card'>
    <div class='card-header'>
        <h5>Login</h5>
    </div>
    <div class="card card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username"
                    formControlName="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password"
                    formControlName="password">
            </div>
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>